.body {
    font-family: 'Questrial', sans-serif;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 20px 0 20px;
    font-family: 'Questrial',  sans-serif;
    color: gray;
}

.logo {
    padding-right: 20px;
}
.page-header>h1 {
    text-align: left;
}

.page-header>small {
    font-size: 20px;
    color: gray;
}

.navbar navbar-default {
    padding: 0 15px 0 15px;
    font-family: 'Questrial', sans-serif;
    color: #f96e5b;

}

.navbar-default .navbar-nav>li>a {
    color: black;
    background-color: lightgray;
    font-family: 'Playfair Display SC', serif;

}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.gb-footer {
    max-width: 1130px;
    margin: 0px auto;
    position: relative;
    padding: 10px;
}
.gb-footer-outer.bottom {
    position: relative;
    padding: 0px 15px;
    background: #F1F7FE;
    z-index: 1;
}
.gb-footer-outer.bottom:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, .15);
}
.gb-footer-outer.bottom p {
    margin: 0px;
    color: #111;
    font: normal 13px/1 'Trocchi', serif;
}
.ui-clear:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0px;
}
.ui-clear:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0px;
}
.hp.column.one, .hp.column.two, .hp.column.three {
    width: auto;
    float: none;
}
.hp.column.one, .hp.column.two, .hp.column.three {
    width: auto;
    float: none;
    padding: 0px;
    margin: 0px;
}
.hp.column.one {
    width: 33.33%;
    padding: 0px 28px 0px 0px;
}
.hp.column.one, .hp.column.one div.ui-widget.app.upcomingevents .sw-calendar-block-title a {
    color: #808080;
}
.column {
    float: left;
    position: relative;
}
.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hp-content.bottom {
    max-width: 1130px;
    margin: 0px auto;
    padding: 45px 0px;
    position: relative;
    background: #FFF;
    line-height: 22px;
}

