.body {
    font-family: 'Questrial', sans-serif;
}
.page-header {
    margin: 15px 20px -85px 20px;
    font-family: 'Questrial',  sans-serif;
    color: gray;
}
.saying{
    position: relative;
    top: -80px;
    left: 110px;
}

.logo {
    padding-right: 20px;
}
.page-header>small {
    font-size: 20px;
    color: gray;
    position: relative;
    top: -95px;
    left: 110px;
}
.navbar-default .navbar-nav {
    position: center;
    width: 520px;
}
.navbar-default .navbar-nav>li>a {
    color: black;
    background-color: lightgray;
    font-family: 'Questrial', sans-serif;
    position: center;

}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
