.navbar-default {
    margin-top: 60px;
    background: steelblue;
    box-shadow: none;
    margin-bottom: 0;
    .navbar-nav {
        width: 475px;
        display: block;
        float: none;
        margin: 0 auto;
        padding: none;
    }
    .navbar-nav>li>a {
        color: whitesmoke;
        font-family: 'Questrial', sans-serif;
        position: center;
        font-weight: none;
    }
    .active>a {
        background: whitesmoke;
        box-shadow: none;
    }
}
.sp.column.one {
    width: 25%;
    min-height: 500px;
    background: midnightblue;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 5px;
    padding-left: 0px;
    margin-left: 0px;
}
h2 {
    color: navy;
}
p {
    text-indent: 30px;
    font-size: 12pt;
}
h2 {
    font-size: 24pt;
}