.body {
    padding: 15px 15px 15px 15px;
}
.navbar-default {
    margin-top: 60px;
    background: steelblue;
    box-shadow: none;
    margin-bottom: 0;
    .navbar-nav {
        width: 475px;
        display: block;
        float: none;
        margin: 0 auto;
        padding: none;
    }
    .navbar-nav>li>a {
        color: whitesmoke;
        font-family: 'Questrial', sans-serif;
        position: center;
        font-weight: none;
    }
    .active>a {
        background: white;
        box-shadow: none;
    }
}